@import "../../config.scss";

#contentLayoutArea {
    #navigateBreadcrum {
        padding: 10px 24px;
        background: #fff;
    }
    .pageTitle {
        padding: 0px 24px 10px;
    }
    .contentArea {
        min-height: 500px;
        #fileTable {
            margin: 20px;
        }
        #fileHeader {
            display: flex;
            height: 42px;
            margin: 10px;
            #fileListType {
                margin-left: 30px;
                line-height: 42px;
                font-family: $mainFont;
                font-size: 12pt;
                font-weight: bold;
                flex: 0 1 auto;
            }
            #controlHeader {
                flex: 1 1 auto;
                margin-right: 10px;
                display: flex;
                justify-content: flex-end;
                .controlHeaderButton {
                    margin: 5px;
                }
                @media screen and (max-width: 575px) {
                    #uploadButton,
                    #refreshButton,
                    #settingButton {
                        display: none;
                    }
                }
            }
        }
    }
}

.fileglobaldropMenu,
.filedropMenu {
    .filedropMenuItem {
        height: 40px;
        line-height: 40px;
        font-family: $mainFont;
        font-size: 11pt;
    }
}
.fileglobaldropMenu {
    width: 128px;
    .showinMobile {
        display: none;
    }
    @media screen and (max-width: 575px) {
        .showinMobile {
            display: flex;
        }
    }
}
.filedropMenu {
    width: 90px;
}
