@import "../common/config.scss";

#rootLayout {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .header {
        display: flex;
        height: $headerHeight;
        padding: 0px;
        .logo {
            margin-left: $sideMargin;
            flex: 0 1 auto;
            width: auto;
            color: #fff;
            display: flex;
            align-items: center;
            font: {
                family: $mainFont;
                weight: bold;
                size: 12pt;
            }
            #logosvg {
                max-height: 60%;
            }
            #logotext {
                margin-left: 5px;
                line-height: $headerHeight;
            }
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        .headerMenuContainer {
            flex: auto;
            margin-right: $sideMargin;
            display: flex;
            justify-content: flex-end;

            .headerMenu {
                display: flex;
                flex-wrap: nowrap;

                .headerMenuButtom,
                .avatarButtom {
                    border: none;
                    flex: 1 1 auto;
                    height: 100%;
                    min-width: 6vw;
                }
                .headerMenuButtom:hover {
                    background-color: #1890ff;
                }
                .avatarButtom {
                    #avatar {
                        border: 3px solid #fff;
                        box-sizing: content-box;
                    }
                    &:hover {
                        #avatar {
                            border: 5px solid #fff;
                        }
                    }
                }
            }
        }
    }

    #sider {
        height: 100%;
    }

    #sideMenu {
        border-right: 0;
        height: 100%;
    }

    .site-layout-background {
        background: #fff;
    }

    #contentLayoutArea {
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media screen and (max-width: 991px) {
        #sider {
            position: absolute;
            z-index: 100;
            #sideMenu {
                overflow-y: auto;
            }
        }
        .ant-layout-sider-zero-width-trigger {
            position: absolute;
            top: -46px;
        }
    }
    @media screen and (min-width: 992px) {
        #sider {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

#profileMenu {
    width: 192px;
    #profileUsername {
        color: #fff;
        text-align: center;
        font-family: $mainFont;
        font-size: 14pt;
        height: 54px;
        line-height: 54px;
        cursor: default;
    }
    .profileMenuItem {
        height: 54px;
        font-size: 12pt;
        svg {
            font-size: 12pt;
        }
    }
    @media (orientation: portrait) {
        width: 120px;
        #profileUsername {
            height: 45px;
            line-height: 45px;
            font-size: 12pt;
        }
        .profileMenuItem {
            height: 45px;
        }
    }
}

#progressMenu {
    width: 400px;
    overflow-x: hidden;
    @media screen and (max-width: 991px) {
        width: 240px;
    }
    .progressName {
        margin-left: 15px;
        font-size: 12pt;
    }
}
