@import "~antd/dist/antd.css";

$headerHeight: 50px;
$sideMargin: 15px;
$mainFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
