@import "../../common/config.scss";

#profileLayout {
    #profileContent {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        #avatarContainer {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
            #profileAvatar {
                border: 3px solid rgb(240, 10, 10);
                vertical-align: middle;
                display: flex;
                align-items: center;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        #profileFormContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            #profileForm {
                width: 800px;
                #Profiletail {
                    display: flex;
                    justify-content: center;
                }
                #ProfiletailSubmitButton {
                    margin-left: 20px;
                }
            }
        }
    }
}
