#settingLayout{
    background: #fff;
    #settingContent{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        #settingContainer {
            margin-top: 5vh;
            width: 70%;

        }
    }

}